body {
  font-family: sans-serif;
}

h3 {
  margin: auto;
  text-align: center;
}

div {
  box-sizing: border-box;
}

.main {
  width: 500px;
  height: 500px;
  text-align: center;
  margin: auto;
  border-width: 5px;
  border-style: solid;
  border-color: grey;
  cursor: pointer;
  padding: 0px;
  margin: auto;
  transition: border-width .5s ease-in, visibility .5s ease-in;
}

.game {
  display: none;
}

.end {
  opacity: .5;
  color: black;
  background: silver;
}

#sprite {
  position: relative;
  width: 25px;
  height: 25px;
  background: red;
  border: 0px;
}

#buttondiv {
  width: 500px;
  margin: auto;
}

button {
  background: blue;
  width: 50px;
  color: white;
  border: 0px;
  cursor: pointer;
  padding: 5px;
}

.red {
  background: red;
}

.green {
  font-size: 2em;
  line-height: 500px;
  color: white;
  background: green;
}

span {
  font-size: 1em;
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}